[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "xtremecookiez-blog/themes/hugo-theme-bootstrap"]
	path = xtremecookiez-blog/themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "xtremecookiez-blog/themes/blowfish"]
	path = xtremecookiez-blog/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "xtremecookiez.github.io"]
	path = xtremecookiez.github.io
	url = git@github.com:XtremeCookiez/xtremecookiez.github.io.git
